section.py-5
  .container
    .row.my-5
      .col
        h1.display-4.text-center Requirements Checklist
    .row.my-5.align-items-center
      .col-md-3.text-center.mb-5
        i.fas.fa-clipboard-list.fa-10x.text-primary.mb-3
        br
        a.btn.btn-primary(href='#getStarted') Get Started
      .col-md-9
        table.table.table-bordered
          thead
            tr
              th
              th Puppy
              th Adult
          tbody
            tr
              th Rabies Vaccinations
              td
                i.fas.fa-check.text-primary
              td
                i.fas.fa-check.text-primary
            tr
              th(data-toggle='tooltip', data-placement='bottom', data-html='true', title='Petz Mania offers<br>Bordertella Vaccinations')
                | Bordetella Vaccinations 
                i.fas.fa-question-circle.text-muted
              td
                i.fas.fa-check.text-primary
              td
                i.fas.fa-check.text-primary
            tr
              th(data-toggle='tooltip', data-placement='bottom', data-html='true', title='Petz Mania offers<br>Distemper Vaccinations')
                | Distemper Vaccinations 
                i.fas.fa-question-circle.text-muted
              td
                i.fas.fa-check.text-primary
              td
                i.fas.fa-check.text-primary
            tr
              th Spayed or Nuetered
              td
              td
                i.fas.fa-check.text-primary
            tr
              th(data-toggle='tooltip', data-placement='bottom', data-html='true', title='Petz Mania offers both <br> Flea and Tick Bath <br> and Capstars')
                | Flea and Tick Free 
                i.fas.fa-question-circle.text-muted
              td
                i.fas.fa-check.text-primary
              td
                i.fas.fa-check.text-primary
            tr
              th(data-toggle='tooltip', data-placement='bottom', data-html='true', title="Petz Mania doesn't require<br> a boarding deposit, if <br> you board for less than 30 days.")
                | Boarding Deposit 
                i.fas.fa-question-circle.text-muted
              td
                i.fas.fa-check.text-primary
              td
                i.fas.fa-check.text-primary