section.text-secondary.bg-secondary.py-5
  .container.bg-primary
    .row
      .col
        h1.display-4.text-center Boarding Hours
        p.text-danger.text-center *Temporary Pandemic Hours
    .row.my-5
      .col-12.overflowScrollY
        table.table.table-bordered.text-secondary
          thead
            tr
              th
              th Monday
              th Tuesday
              th Wednesday
              th Thursday
              th Friday
              th Saturday
              th Sunday (1)
              th Sunday (2)
          tbody
            tr
              th Dropoff Time
              td 8:00am to 5:00pm
              td 8:00am to 5:00pm
              td 8:00am to 5:00pm
              td 8:00am to 5:00pm
              td 8:00am to 5:00pm
              td 8:00am to 5:00pm
              td *12:00pm to 2:00pm
              td
            tr
              th Pickup Time
              td 8:00am to 2:00pm
              td 8:00am to 2:00pm
              td 8:00am to 2:00pm
              td 8:00am to 2:00pm
              td 8:00am to 2:00pm
              td 8:00am to 2:00pm
              td *12:00pm to 2:00pm
              td