section#feature.py-5.navOffset
  .container
    .row.my-5.align-items-center
      .col-md-8.mb-5.mb-md-0
        h1.font-weight-bold Daily Active Monitoring
        p.lead
          | We have kennel techs on site, watching and monitoring your dog every
          | day. Our kennel techs goes through a vigorous TRIPLE-CHECK PROCEDURAL
          | TRAINING. This ensures that your dog is getting the care you want, and
          | not just the care they need. It our number one priority to make sure
          | your dog is healthy and safe, while also having fun. To reach this
          | priority, we&rsquo;ve taken the required steps to make sure we obtain this
          | goal.
      .col-md-4
        .row.justify-content-center
          .col-8.col-md-12
            img.img-fluid.rounded-circle(src='https://res.cloudinary.com/petzmania/image/upload/c_fill,h_528,w_528/v1577853331/features/image2.jpg', alt='Image 3')
    hr
    .row.my-5.align-items-center
      .col-md-4.mb-5.mb-md-0
        .row.justify-content-center
          .col-8.col-md-12
            img.img-fluid.rounded-circle(src='https://res.cloudinary.com/petzmania/image/upload/c_fill,h_720,w_720/v1577892829/features/image3.jpg', alt='Image 3')
      .col-md-8
        h1.font-weight-bold Safety and Security
        p.lead
          | Every dog gets separated by their shape and size to ensure maximum
          | safety and play time. We take pride in our COMPARTMENTALIZED PLAY
          | AREA. An innovation, other facility lacks or simply don&rsquo;t have. This
          | doesn&rsquo;t just allow friendly dogs to get play time, but also
          | troublesome dogs, who don&rsquo;t get to play at other facility. Don&rsquo;t let
          | bad behavior, ruin your pets experience at any boarding facility.
    hr
    .row.my-5.align-items-center
      .col-md-8.mb-5.mb-md-0
        h1.font-weight-bold Convenience
        p.lead
          | Come back home with a clean and happy dog. At Petz Mania, we make it
          | easy to schedule any addition services. With our mobile web
          | application, scheduling a groom or wash can be done with just a few
          | clicks. We&rsquo;ll immediately get notified, as you add more services from
          | our online application. Sign up in our web application to start
          | scheduling now.
      .col-md-4
        .row.justify-content-center
          .col-8.col-md-12
            img.img-fluid.rounded-circle(src='https://res.cloudinary.com/petzmania/image/upload/c_fill,h_720,w_720/v1577892979/features/image4.jpg', alt='Image 3')
    hr
    .row.my-5.align-items-center
      .col-md-4.mb-5.mb-md-0
        .row.justify-content-center
          .col-8.col-md-12
            img.img-fluid.rounded-circle(src='https://res.cloudinary.com/petzmania/image/upload/c_fill,h_720,w_720,x_0,y_0/v1577853326/features/image1.jpg', alt='Image 3')
      .col-md-8
        h1.font-weight-bold &quot;Free and Reliable&quot; Webcam
        p.lead
          | Pop in to get a peek of your precious dog. Our cameras is open to all
          | boarding customers to ensure peace in mind. Don&rsquo;t let unreliable
          | cameras or so called &ldquo;random&rdquo; camera failure ruin your ability to see
          | your beloved dog. With our 1080p crystal clear cameras, you can view
          | your dog anytime, anywhere. Download the web camera application on
          | iOS, Android.
