section#getStarted.py-5.get-started.navOffset
  .container
    .row.my-5
      .col
        h1.display-4.text-center.text-white
          | Get Started &ndash; Fast and Easy
    .row.my-5.justify-content-center
      .col-md-6
        include sign-up-module.pug
