section.py-5
  .container
    .row.my-5
      .col
        h1.display-4.text-center Holiday Hours
    .row.my-5
      .col
        p.lead.text-center Drop-off/Pick up for boarding: 9:00am to 12:00pm
    .row.my-5
      .col-md-6
        h3 All Holidays Includes:
        ul.list-paw.mt-3
          li
            p New Year&apos;s Day
          li
            p Easter Sunday
          li
            p Memorial Day
          li
            p Labor Day
          li
            p July 4th
          li
            p Thanksgiving Day
          li
            p Christmas Day
      .col-md-6.text-center
        img.img-fluid.box-shad-primary(src='https://res.cloudinary.com/petzmania/image/upload/c_scale,w_2359/v1558846982/Assets/holiday-picture.jpg', alt='Placeholder')
