input#nav__toggle(type='checkbox', name='nav__toggle')
.nav__bar
  a(href='/')
    .nav__logo
  label.nav__button(for='nav__toggle')
    span.nav__button-item
.nav__bar--backdrop
.nav__background
nav.nav__menu
  ul#nav__main.nav__list
    li.nav__item
      a.nav__link.nav__dropdown(data-toggle='nav__services')
        | Services 
        span &#x25BC;
    li.nav__item
      a.nav__link(href='/pricing')
        | Pricing
    li.nav__item
      a.nav__link.nav__dropdown(data-toggle='nav__support')
        | Support 
        span &#x25BC;
    li.nav__item
      a.nav__link(href='webcam-login.html')
        | Web Camera
    li.nav__item
      a.nav__link(href='https://secure.petexec.net/login.php')
        | Sign In
    li.nav__item
      a.nav__link(href='https://secure.petexec.net/newOwner.php?x=2Bz6YxT3zrE=')
        | Sign Up
  ul#nav__services.nav__list
    li.nav__item
      a.nav__link.nav__dropdown(href='#', data-toggle='nav__main')
        | &larr; Go Back
    li.nav__item
      a.nav__link(href='dog-boarding.html')
        | Dog Boarding
    li.nav__item
      a.nav__link(href='dog-daycare.html')
        | Dog Daycare
    li.nav__item
      a.nav__link(href='dog-grooming.html')
        | Dog Grooming
    li.nav__item
      a.nav__link(href='dog-wash.html')
        | Dog Wash
    li.nav__item
      a.nav__link(href='other.html')
        | Other Animals
  ul#nav__support.nav__list
    li.nav__item
      a.nav__link.nav__dropdown(href='#', data-toggle='nav__main')
        | &larr; Go Back
    li.nav__item
      a.nav__link(href='policies.html')
        | Requirements and Policies
    li.nav__item
      a.nav__link(href='career.html')
        | Join Our Team
    //
      <li class="nav__item">
      <a href="#" class="nav__link">
      Partners
      </a>
      </li>
nav.navbar.navbar-expand-lg.navbar-dark.bg-warning.d-none.d-lg-flex
  ul.navbar-nav.mx-auto.font-weight-bold
    li.nav-item.dropdown
      a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
        | Services
      .dropdown-menu
        a.dropdown-item(href='dog-boarding.html') Dog Boarding
        a.dropdown-item(href='dog-daycare.html') Dog Daycare
        a.dropdown-item(href='dog-grooming.html') Dog Grooming
        a.dropdown-item(href='dog-wash.html') Dog Wash
        a.dropdown-item(href='other.html') Other Service
    li.nav-item
      a.nav-link(href='/pricing') Pricing
    li.nav-item.dropdown
      a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
        | Support
      .dropdown-menu
        a.dropdown-item(href='policies.html') Requirements and Policies
        a.dropdown-item(href='career.html') Join Our Team
    li.nav-item
      a.nav-link(href='webcam-login.html') Web Camera
    li.nav-item
      a.nav-link(href='https://secure.petexec.net/login.php') Sign In
    li.nav-item
      a.nav-link(href='https://secure.petexec.net/newOwner.php?x=2Bz6YxT3zrE=') Sign Up
