section.py-5
  .container
    .row.my-5
      h1.display-4.mx-auto
        | Customers love Petz Mania
    .row.my-4.justify-content-center
      .media.align-items-center
        img.mr-5.rounded-circle(src='{%IMAGE-1%}', alt='Placeholder')
        .media-body
          h3.mt-0 {%NAME-1%}
          p {%RATING-1%}
          p {%TEXT-1%}
          a(href='#') {%URL-1%}
    .row.my-4.justify-content-center
      .media.align-items-center
        img.mr-5.rounded-circle(src='{%IMAGE-2%}', alt='Placeholder')
        .media-body
          h3.mt-0 {%NAME-2%}
          p {%RATING-2%}
          p {%TEXT-2%}
          a(href='#') {%URL-2%}
    .row.my-4.justify-content-center
      .media.align-items-center
        img.mr-5.rounded-circle(src='{%IMAGE-3%}', alt='Placeholder')
        .media-body
          h3.mt-0 {%NAME-3%}
          p {%RATING-3%}
          p {%TEXT-3%}
          a(href='#') {%URL-3%}
    .row.my-5.d-flex.justify-content-center
      a.btn.btn-primary.mx-3(href='#') Google
      a.btn.btn-primary.mx-3(href='#') Yelp
      a.btn.btn-primary.mx-3(href='#') Facebook
