.card
  .card-body
    h1.text-center Sign Up
    p.lead.text-center Scheduling services for your pet has never been any easier.
    form(method='POST', action='/sign-up')
      a(href="https://secure.petexec.net/newOwner.php?x=2Bz6YxT3zrE=").btn.btn-secondary.btn-block.mt-5 Create an Account
