.dog-boarding-header {
  background-image: url('https://res.cloudinary.com/petzmania/image/upload/c_scale,w_2183/v1558889630/Assets/dog-boarding-header.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position-x: 60%;
  background-position-y: center;
}