.dog-daycare-header {
  background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)) ,url('https://res.cloudinary.com/petzmania/image/upload/c_scale,h_1584/v1558979459/Assets/dog-daycare-header.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position-y: center;
}