.dog-grooming-header {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)) , url('https://res.cloudinary.com/petzmania/image/upload/v1559004731/Assets/dog-grooming-header.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center 30%;
  background-repeat: no-repeat;
}