.other-header {
  background: url("https://res.cloudinary.com/petzmania/image/upload/c_scale,h_1560/v1558567977/Assets/other-cat.jpg");
  background-size: cover, 50% 100%, 50% 100%;
  background-attachment: fixed;
}
