include templates/header.pug
+header("Successful Application", "A successful job application was just sent.") 
include templates/nav.pug
main
  header.bg-primary
    .container.text-centers
      .row-my-5
        .col.text-center
          h1.display-4.font-weight-bold Thanks you for your response!
          p Our reviewers will respond back, after we finish processing the application.

include templates/footer.pug
