include templates/header.pug
+header("Tour", "Tour our facility")
include templates/nav.pug 

main
  header
    .container
      .row.my-5
        .col-12
          h1.text-center.display-4 Dallas Location Tour
  section
    .container
      .row
        .col-12
          img.img-fluid(src='https://via.placeholder.com/1000x800', alt='Placeholder')

include templates/footer.pug 
