.get-started {
  background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)) , url('https://res.cloudinary.com/petzmania/image/upload/c_scale,w_2309/v1558848590/Assets/get-started-background.jpg');
  background-attachment: fixed;
  background-size: cover;
}