.index-header {
  background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)) , url('https://res.cloudinary.com/petzmania/image/upload/c_scale,w_2808/v1558847270/Assets/index-header-img.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.dog-boarding-header {
  background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)) , url('https://res.cloudinary.com/petzmania/image/upload/c_scale,w_2808/v1558847270/Assets/index-header-img.jpg');
  background-attachment: fixed;
  background-size: cover;
}